/* https://www.youtube.com/watch?v=kkiLBF_YerM */

:root {
  --brandColor: #2F3C7E;
  accent-color: var(--brandColor);
}
html {
  background-color: color-mix(in srgb, #fff 50%, var(--brandColor) 50%);
}

button {
  background-color: rgba(0, 0, 0, 0);
}
form > button:has(span) {
  color: white;
}

/* @nest */
nav {
  & ul {
    & li {
      color: var(--brandColor);
      font-weight: 700;
    }
  }
}

@scope (header) {
  .title {
    font-weight: 700;
    font-size: 2rem;
    color: var(--brandColor);
  }
}
@scope (aside) {
  .title {
    font-weight: 700;
    font-size: 1rem;
    color: white;
  }
}
